/*--------------------------------------------------------------
# Solution
--------------------------------------------------------------*/
.solution .box {
    padding: 30px;
    box-shadow: 0px 0 5px rgba(1, 41, 112, 0.08);
    text-align: center;
    transition: 0.3s;
    height: 100%;
    min-height: 32em;
}

    .solution .box img {
        padding: 30px 50px;
        transition: 0.5s;
    }

    .solution .box h3 {
        font-size: 24px;
        color: #012970;
        font-weight: 700;
        margin-bottom: 18px;
    }


    .solution .box:hover {
        box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
    }

        .solution .box:hover img {
            transform: scale(1.15);
        }

@media (max-width: 768px) {
    .solution .box {
        min-height: unset;
    }
}



.container.aos-init.aos-animate.icons {
    box-shadow: 0px 0px 5px rgba(1, 41, 112, 0.08) !important;
    height: 100% !important;
    margin-bottom: 1em;
    margin-top: 1em;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 0.5em !important;
    padding-bottom: 1em !important;
}




/* Style for the slider container */
.slider {
    width: 95%; /* Set slider width to fill container */
    overflow: hidden; /* Hide anything outside the slider area */
    position: relative; /* Needed for positioning arrows absolutely */
}

/* Style for the container that holds all slides */
.slides {
    display: flex; /* Align slides in a row */
    transition: transform 0.5s ease; /* Smooth transition for sliding effect */
    width: 195%; /* Ensure slides container fills slider */
}

/* Style for individual slides */
.img-fluid {
    width: 98% !important; /* Each image takes the full width of the slider */
    object-fit: scale-down !important;
}

/* Style for navigation arrows */
.arrow {
    position: absolute;
    top: 50%; /* Center vertically */
    transform: translateY(-50%); /* Align arrow properly in the center */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    color: white; /* Arrow color */
    border: none; /* Remove border */
    cursor: pointer; /* Cursor indicates clickable area */
    padding: 10px; /* Spacing around arrow icon */
    z-index: 100; /* Ensure arrows are above other content */
}


/* Positioning the previous arrow to the left */
.prev {
    left: 10px; /* Position arrow from the left edge */
}

/* Positioning the next arrow to the right */
.next {
    right: 10px; /* Position arrow from the right edge */
}
