@inherits LayoutComponentBase
@using BlazorServer.Components

<header id="header" class="header fixed-top header-scrolled">
    <div class="container-fluid container-xl d-flex align-items-center">
        <a href="/" class="logo d-flex align-items-center scrollto">
            <img src="Pictures/elements/favicon.png" alt="">
            <span>Home</span>
        </a>
        
        <NavBarComponent/>

    </div>
</header><!-- End Header -->
