@using BlazorServer.Components



@if(SectionComponentItem != null)
{
    <!-- ======= Introduction Section ======= -->
    <section id="introduction" class="introduction">

        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex flex-column justify-content-center">
                    <h1 data-aos="fade-up">Hi, I am Tobias and I offer modern solutions for your business.</h1>
                    <h2 data-aos="fade-up" data-aos-delay="200">
                        I will develop and host your Full-Stack Software in C#, Java,
                        Python, TypeScript and Docker.
                    </h2>
                    <div data-aos="fade-up" data-aos-delay="300">
                        <div class="text-center text-lg-start">
                            <a href="#frontend" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                                <span>Frontend solutions</span>
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                        <div class="text-center text-lg-start">
                            <a href="#backend"
                               class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                                <span>Backend solutions</span>
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                        <div class="text-center text-lg-start">
                            <a href="#devops"
                               class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                                <span>Docker solutions</span>
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 introduction-img" data-aos="zoom-out" data-aos-delay="100">
                    <img src="Pictures/elements/introduction.jpg" class="img-fluid mt-5" alt="">
                </div>
            </div>
            <div class="row gy-4 mt-1">
                <div class="col-md-12 text-center">
                    <div class="social-links">
                        <a href="https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps" target="_blank" rel="noreferrer">
                            <img src="Pictures/symbols/CSharp.png" alt="C#" width="60" height="60" />
                        </a>

                        <a href="https://www.java.com/de/" target="_blank" rel="noreferrer">
                            <img src="Pictures/symbols/Java.png"
                                 width="60" alt="Java" height="60" />
                        </a>

                        <a href="https://www.python.org/" target="_blank" alt="Python" rel="noreferrer">
                            <img src="Pictures/symbols/Python.png" alt="react" width="60" height="60" />
                        </a>

                        <a href="https://www.w3schools.com/js/" target="_blank" rel="noreferrer">
                            <img src="Pictures/symbols/JavaScript.png" alt="JS" width="60" height="60" />
                        </a>

                        <a href="https://en.wikipedia.org/wiki/SQL" target="_blank" rel="noreferrer">
                            <img src="Pictures/symbols/SQL.png" alt="react" width="60" height="60" />
                        </a>

                        <a href="https://getbootstrap.com" target="_blank" rel="noreferrer">
                            <img src="Pictures//symbols/Bootstrap.png" alt="bootstrap" width="60" height="60" />
                        </a>

                        <a href="https://www.w3.org/html/" target="_blank" rel="noreferrer">
                            <img src="Pictures//symbols/Html.png"
                                 alt="HTML" width="60" height="60" />
                        </a>

                        <a href="https://www.w3schools.com/css/" target="_blank" rel="noreferrer">
                            <img src="Pictures/symbols/CSS.png" alt="CSS" width="60" height="60" />
                        </a>

                    </div>
                </div>
            </div>
        </div>

    </section>

    <!-- End Hero -->
    
}
