/*--------------------------------------------------------------
# Solution
--------------------------------------------------------------*/
.solution .box {
    box-shadow: 0px 0 5px rgba(1, 41, 112, 0.08);
    text-align: center;
    transition: 0.3s;
    min-height: 26em;
}


    .solution .box img {
        transition: 0.5s;
    }

    .solution .box h3 {
        font-size: 24px;
        color: #012970;
        font-weight: 700;
        margin-bottom: 18px;
    }


    .solution .box:hover {
        box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
    }

        .solution .box:hover img {
            transform: scale(1.25);
        }

@media (max-width: 768px) {
    .solution .box {
        min-height: unset;
    }

    .slider {
        height: unset !important;
        width: unset !important;  
        min-height: 14em;
    }
}

.my-img{
    margin-top: 2em;
    margin-bottom: 2em;
    width: 80%;
    height: 85%;
}



.container.aos-init.aos-animate.icons {
    box-shadow: 0px 0px 5px rgba(1, 41, 112, 0.08) !important;
    height: 100% !important;
    margin-top: 1em;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 0.5em !important;
    padding-bottom: 1em !important;
}




/* Style for the slider container */
.slider {
    width: 36em;/* Set slider width to fill container */
    overflow: hidden; /* Hide anything outside the slider area */
    position: relative; /* Needed for positioni ng arrows absolutely */
    margin: auto; /*Center the slider*/
}


    /* Style for individual slides */
    .img-fluid {
        width: 100% !important; /* Each image takes the full width of the slider */
        object-fit: scale-down !important;
    }

    /* Style for navigation arrows */
    .arrow {
        position: absolute;
        top: 50%; /* Center vertically */
        transform: translateY(-50%); /* Align arrow properly in the center */
        background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
        color: white; /* Arrow color */
        border: none; /* Remove border */
        cursor: pointer; /* Cursor indicates clickable area */
        padding: 10px; /* Spacing around arrow icon */
        z-index: 100; /* Ensure arrows are above other content */
    }


    /* Positioning the previous arrow to the left */
    .prev {
        left: 10px; /* Position arrow from the left edge */
    }

    /* Positioning the next arrow to the right */
    .next {
        right: 10px; /* Position arrow from the right edge */
    }
